ApactaWPF/ApactaWPF/Service References/ServiceReferences/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadAllUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadAllUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadAllUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IUserService_SearchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="IUserService_SearchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/CreateUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IUserService_CreateUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ReadUser" message="tns:IUserService_ReadUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ReadUserResponse" message="tns:IUserService_ReadUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/ReadUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IUserService_ReadUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/UpdateUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IUserService_UpdateUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/DeleteUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IUserService_DeleteUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ReadAllUser" message="tns:IUserService_ReadAllUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ReadAllUserResponse" message="tns:IUserService_ReadAllUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IUserService/ReadAllUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IUserService_ReadAllUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/SearchByName" message="tns:IUserService_SearchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SearchByNameResponse" message="tns:IUserService_SearchByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/ReadUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadAllUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/ReadAllUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/IUserService/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8733/WCF/UserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>