BookAnArtisanMVC/BookAnArtisanMVC/Service References/ServiceReference/BookingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WCF/BookingService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WCF/BookingService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8733/WCF/BookingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/WCF/BookingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingService_CreateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_CreateBooking_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReadBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReadBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReadBooking_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_UpdateBooking_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IBookingService_DeleteBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_DeleteBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_DeleteBooking_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReadAllBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllBooking" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReadAllBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingService_ReadAllBooking_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:ApplicationException" />
  </wsdl:message>
  <wsdl:portType name="IBookingService">
    <wsdl:operation name="CreateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/CreateBooking" message="tns:IBookingService_CreateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/CreateBookingResponse" message="tns:IBookingService_CreateBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookingService/CreateBookingApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IBookingService_CreateBooking_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/ReadBooking" message="tns:IBookingService_ReadBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/ReadBookingResponse" message="tns:IBookingService_ReadBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookingService/ReadBookingApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IBookingService_ReadBooking_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/UpdateBooking" message="tns:IBookingService_UpdateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/UpdateBookingResponse" message="tns:IBookingService_UpdateBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookingService/UpdateBookingApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IBookingService_UpdateBooking_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/DeleteBooking" message="tns:IBookingService_DeleteBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/DeleteBookingResponse" message="tns:IBookingService_DeleteBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookingService/DeleteBookingApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IBookingService_DeleteBooking_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookingService/ReadAllBooking" message="tns:IBookingService_ReadAllBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookingService/ReadAllBookingResponse" message="tns:IBookingService_ReadAllBooking_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookingService/ReadAllBookingApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IBookingService_ReadAllBooking_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookingService" type="tns:IBookingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/CreateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/ReadBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/UpdateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadAllBooking">
      <soap:operation soapAction="http://tempuri.org/IBookingService/ReadAllBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookingService">
    <wsdl:port name="BasicHttpBinding_IBookingService" binding="tns:BasicHttpBinding_IBookingService">
      <soap:address location="http://localhost:8733/WCF/BookingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>