BookAnArtisanMVC/BookAnArtisanMVC/Service References/ServiceReference/item192.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/WCF/BookingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:element name="CreateBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="t" nillable="true" type="q1:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="CreateBookingResult" nillable="true" type="q2:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="t" nillable="true" type="q3:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ReadBookingResult" nillable="true" type="q4:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="t" nillable="true" type="q5:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="UpdateBookingResult" nillable="true" type="q6:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="t" nillable="true" type="q7:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="DeleteBookingResult" nillable="true" type="q8:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllBooking">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadAllBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ReadAllBookingResult" nillable="true" type="q9:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ReadPageResult" nillable="true" type="q10:PageOfBookingYgFqSxnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPageForUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadPageForUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Model" minOccurs="0" name="ReadPageForUserResult" nillable="true" type="q11:PageOfBookingYgFqSxnr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>