BookAnArtisanMVC/BookAnArtisanMVC/Service References/ServiceReference/MaterialService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaterialService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IMaterialService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://apactawcfv2.aur.dk/MaterialService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://apactawcfv2.aur.dk/MaterialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://apactawcfv2.aur.dk/MaterialService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://apactawcfv2.aur.dk/MaterialService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaterialService_CreateMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_CreateMaterial_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterial_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_UpdateMaterial_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="detail" element="q3:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_DeleteMaterial_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/System" name="detail" element="q4:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadAllMaterial_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllMaterial" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadAllMaterial_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllMaterialResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadAllMaterial_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/System" name="detail" element="q5:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadAllMaterialsForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllMaterialsForUser" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadAllMaterialsForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllMaterialsForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadAllMaterialsForUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/System" name="detail" element="q6:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterialPage_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMaterialPage" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterialPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMaterialPageResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterialPage_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/System" name="detail" element="q7:ApplicationException" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterialPageForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadMaterialPageForUser" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterialPageForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadMaterialPageForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IMaterialService_ReadMaterialPageForUser_ApplicationExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/System" name="detail" element="q8:ApplicationException" />
  </wsdl:message>
  <wsdl:portType name="IMaterialService">
    <wsdl:operation name="CreateMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/CreateMaterial" message="tns:IMaterialService_CreateMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/CreateMaterialResponse" message="tns:IMaterialService_CreateMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/CreateMaterialApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_CreateMaterial_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterial" message="tns:IMaterialService_ReadMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialResponse" message="tns:IMaterialService_ReadMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_ReadMaterial_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/UpdateMaterial" message="tns:IMaterialService_UpdateMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/UpdateMaterialResponse" message="tns:IMaterialService_UpdateMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/UpdateMaterialApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_UpdateMaterial_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/DeleteMaterial" message="tns:IMaterialService_DeleteMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/DeleteMaterialResponse" message="tns:IMaterialService_DeleteMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/DeleteMaterialApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_DeleteMaterial_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllMaterial">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ReadAllMaterial" message="tns:IMaterialService_ReadAllMaterial_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ReadAllMaterialResponse" message="tns:IMaterialService_ReadAllMaterial_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ReadAllMaterialApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_ReadAllMaterial_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/Search" message="tns:IMaterialService_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/SearchResponse" message="tns:IMaterialService_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllMaterialsForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ReadAllMaterialsForUser" message="tns:IMaterialService_ReadAllMaterialsForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ReadAllMaterialsForUserResponse" message="tns:IMaterialService_ReadAllMaterialsForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ReadAllMaterialsForUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_ReadAllMaterialsForUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMaterialPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialPage" message="tns:IMaterialService_ReadMaterialPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialPageResponse" message="tns:IMaterialService_ReadMaterialPage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialPageApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_ReadMaterialPage_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadMaterialPageForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialPageForUser" message="tns:IMaterialService_ReadMaterialPageForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialPageForUserResponse" message="tns:IMaterialService_ReadMaterialPageForUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IMaterialService/ReadMaterialPageForUserApplicationExceptionFault" name="ApplicationExceptionFault" message="tns:IMaterialService_ReadMaterialPageForUser_ApplicationExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaterialService" type="tns:IMaterialService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IMaterialService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/CreateMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ReadMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/UpdateMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/DeleteMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadAllMaterial">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ReadAllMaterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllMaterialsForUser">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ReadAllMaterialsForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadMaterialPage">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ReadMaterialPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ReadMaterialPageForUser">
      <soap:operation soapAction="http://tempuri.org/IMaterialService/ReadMaterialPageForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ApplicationExceptionFault">
        <soap:fault use="literal" name="ApplicationExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaterialService">
    <wsdl:port name="BasicHttpBinding_IMaterialService" binding="tns:BasicHttpBinding_IMaterialService">
      <soap:address location="https://apactawcfv2.aur.dk/MaterialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>