BookAnArtisanMVC/BookAnArtisanMVC/Service References/ServiceReference/RentingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/WCF/RentingService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/WCF/RentingService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/WCF/RentingService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentingService_CreateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateBooking" />
  </wsdl:message>
  <wsdl:message name="IRentingService_CreateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentingService_ReadBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadBooking" />
  </wsdl:message>
  <wsdl:message name="IRentingService_ReadBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentingService_UpdateBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBooking" />
  </wsdl:message>
  <wsdl:message name="IRentingService_UpdateBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentingService_DeleteBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="IRentingService_DeleteBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentingService_ReadAllBooking_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllBooking" />
  </wsdl:message>
  <wsdl:message name="IRentingService_ReadAllBooking_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="IRentingService">
    <wsdl:operation name="CreateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentingService/CreateBooking" message="tns:IRentingService_CreateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentingService/CreateBookingResponse" message="tns:IRentingService_CreateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentingService/ReadBooking" message="tns:IRentingService_ReadBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentingService/ReadBookingResponse" message="tns:IRentingService_ReadBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentingService/UpdateBooking" message="tns:IRentingService_UpdateBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentingService/UpdateBookingResponse" message="tns:IRentingService_UpdateBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentingService/DeleteBooking" message="tns:IRentingService_DeleteBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentingService/DeleteBookingResponse" message="tns:IRentingService_DeleteBooking_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllBooking">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentingService/ReadAllBooking" message="tns:IRentingService_ReadAllBooking_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentingService/ReadAllBookingResponse" message="tns:IRentingService_ReadAllBooking_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentingService" type="tns:IRentingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateBooking">
      <soap:operation soapAction="http://tempuri.org/IRentingService/CreateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadBooking">
      <soap:operation soapAction="http://tempuri.org/IRentingService/ReadBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBooking">
      <soap:operation soapAction="http://tempuri.org/IRentingService/UpdateBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="http://tempuri.org/IRentingService/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllBooking">
      <soap:operation soapAction="http://tempuri.org/IRentingService/ReadAllBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentingService">
    <wsdl:port name="BasicHttpBinding_IRentingService" binding="tns:BasicHttpBinding_IRentingService">
      <soap:address location="http://localhost:8733/WCF/RentingService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>