BookAnArtisanMVC/BookAnArtisanMVC/Service References/RentingServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rented">
    <xs:sequence>
      <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rented" nillable="true" type="tns:Rented" />
  <xs:complexType name="ArrayOfRented">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rented" nillable="true" type="tns:Rented" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRented" nillable="true" type="tns:ArrayOfRented" />
</xs:schema>